*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-size:24px;
background-color: rgb(224, 218, 218); }

.container { max-width: 1440px;
margin:0 auto;
padding: 20px;
background-color: rgb(255, 253, 251);
min-height: 100vh;}


.header { list-style: none;
    width: auto;
     height: 140px;
     padding: 0px;
     margin: 0px;
    background-color: rgb(86, 73, 133);}

.header ul { 
padding: 58px;;
font-size: larger;
font-style:normal;
font-family: 'Times New Roman', Times, serif; 
list-style: none; 
text-align: center; }

.header li {display:inline;
    margin: 30px;
    }

ul li a {
text-decoration: none;
color:#f3eaea;}



.gallery nav {
    display: grid;
    grid-template-columns:repeat(3, 1fr);                       
  }
  .gallery nav a {
    display:contents;
    text-align: center;                  
  }

p {font-style:
     normal;font-size: 16px;
     font-weight: bold;
     font-family:  'Times New Roman', Times, serif;
     color: rgb(148, 17, 124);
     text-align: justify;
    }



.footer {background-color:#000000
}
.footer-text p {text-align:center; color: rgb(228, 228, 221);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;}

.footer-logo {width:40px; height:40px ;}
.footer-logo img {margin: 20px;width:100px;
height: 100px; }

div .footer-contacts p {text-align:right; 
    color: rgb(17, 17, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;padding:2px;margin: 4px;}

.footer-copy p {font-size: 30px; text-align: center;}

div.form { max-width: 700px;
margin: 0 auto;
padding: 30px;
background-color: rgb(240, 232, 232);color: #000000;
border: 4px solid rgb(44, 44, 128);
font-size: 20px;}

.form fieldset { border: none;}

.form [placeholder] {background-color: aqua;} 

.legend1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;font-weight: bold;
margin:0 auto;padding: 10px;}

.legend2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;font-weight:300;
    margin:0 auto;padding: 10px;}

    /* input [type="checkbox"] {margin: 0 auto; padding-right: 2px;} */

    .content-wrapper {font-size: 20px;font-family: 'Times New Roman', Times, serif;font-weight: bolder;text-align: center; margin: 0 auto;
    }
    h1 {font-size: 30px; margin: 0 auto; padding: 10px; text-align: center; }

.contact a {text-decoration: none; ; 
    color:#a21010;}

/* .contact{font-family: 'Times New Roman', Times, serif; text-align: right;padding: 20px;font-size: 20px;font-weight: bolder;} */

h2 {text-align: center;padding: 20px;}

.content-wrapper img { margin: 0 auto;padding: 20px;text-align: center}